# Entorno virtual
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# variables de entorno
.env

# carpeta de archivos subidos
uploads/

# opcional: cualquier archivo dentro
uploads/*